<!DOCTYPE html>
<html>
<head>
	<title>Toeic Community</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">  

	<!-- Latest compiled and minified JavaScript -->
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Coiny|Pacifico|Suez+One|Ultra" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
	<link rel="stylesheet" href="static/css/video.css">
</head>
<body>
	<header>
		<a href="/">
			<img class="logo" src="static/img/logo.png">
			<span class="toeic-community">Toeic Community</span>
		</a>
	</header>
	<div class="container1">  
	  <h2>1. Những video dành cho người mất gốc tiếng anh</h2>  
	  <div class="list-video">
		  <div class="video">
			  <iframe	src="https://www.youtube.com/embed/4XPvqRmT4uo"
			  allowfullscreen="allowfullscreen"
			  mozallowfullscreen="mozallowfullscreen" 
			  msallowfullscreen="msallowfullscreen" 
			  oallowfullscreen="oallowfullscreen" 
			  webkitallowfullscreen="webkitallowfullscreen" 
			  >
			</iframe>
		  </div>
		  <div class="video">
			<iframe	src="https://www.youtube.com/embed/1FdCazTGE2w"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
		<div class="video">
		    <iframe	src="https://www.youtube.com/embed/YjVJCa589hA"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
		<div class="video">
		    <iframe	src="https://www.youtube.com/embed/PCmX6q-gfJ8"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
	  </div>
	  <h2>2. Những video dành cho người mới</h2>  
	  <div class="list-video">
		  <div class="video">
			  <iframe	src="https://www.youtube.com/embed/tosYNLutaLw"
			  allowfullscreen="allowfullscreen"
			  mozallowfullscreen="mozallowfullscreen" 
			  msallowfullscreen="msallowfullscreen" 
			  oallowfullscreen="oallowfullscreen" 
			  webkitallowfullscreen="webkitallowfullscreen" 
			  >
			</iframe>
		  </div>
		  <div class="video">
			<iframe	src="https://www.youtube.com/embed/YfNnP_I7d8Q"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
		<div class="video">
		    <iframe	src="https://www.youtube.com/embed/2dA4Ju0uV5s"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
		<div class="video">
		    <iframe	src="https://www.youtube.com/embed/JMziwNQHPvA"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
	  </div>
	  <h2>3. Những video tiếng anh nâng cao</h2>  
	  <div class="list-video">
		  <div class="video">
			  <iframe	src="https://www.youtube.com/embed/mjFOKA0qmsA"
			  allowfullscreen="allowfullscreen"
			  mozallowfullscreen="mozallowfullscreen" 
			  msallowfullscreen="msallowfullscreen" 
			  oallowfullscreen="oallowfullscreen" 
			  webkitallowfullscreen="webkitallowfullscreen" 
			  >
			</iframe>
		  </div>
		  <div class="video">
			<iframe	src="https://www.youtube.com/embed/wVCEjkyj-Nk"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
		<div class="video">
		    <iframe	src="https://www.youtube.com/embed/93SFYa2aPrU"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
		<div class="video">
		    <iframe	src="https://www.youtube.com/embed/g_duZ1HkPCw"
			allowfullscreen="allowfullscreen"
			mozallowfullscreen="mozallowfullscreen" 
			msallowfullscreen="msallowfullscreen" 
			oallowfullscreen="oallowfullscreen" 
			webkitallowfullscreen="webkitallowfullscreen"
			>
			</iframe>
		</div>
	  </div>
	</div>
	<script src="/static/lib/jquery/jquery.min.js"></script>
    <!-- <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/static/js/Login.js"></script>
</body>

</html>