

<div class="banner-right">
    <div> TOP USER</div>
    <div class="list-user">

        <div class="top-element">
            <div>#</div>
            <div>Avatar</div>
            <div>Username </div>
        </div>
        <div class="top-element">
                <div class="order">1</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                    <a href="#">vietanhlehuu  </a>
                    <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">2</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">3</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">4</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">5</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">6</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">7</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">8</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        <div class="top-element">
                <div class="order">9</div>
                <div>
                    <img src="/static/img/avatar.jpg" alt="avt">
                </div>
                <div>
                        <a href="#">vietanhlehuu  </a>
                        <h6><i class="fas fa-heart"></i> 20</h6>
                </div>
        </div>
        
    </div>
</div>