<!DOCTYPE html>
<html>
<head>
	<title>Toeic Community</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">  

	<!-- Latest compiled and minified JavaScript -->
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Coiny|Pacifico|Suez+One|Ultra" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
	<link rel="stylesheet" href="static/css/exam.css">
</head>
<body>
	<header>
		<a href="/">
			<img class="logo" src="static/img/logo.png">
			<span class="toeic-community">Toeic Community</span>
		</a>
	</header>
	<div class="container1">  
        <div class="content-container">
            <div class="row">
                <div class="nav">
                    <ul>
                        <li class="active">
                            <a href="/exam">
                            Animal
                        </a>
                    </li>
                        <li>
                            <a href="/exam-active">
                            Active
                        </a>
                    </li>
                        <li>
                            <a href="/">
                                Corporate Development
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 1:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 2:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 3:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 4:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 5:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 6:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 7:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 8:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 9:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 10:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 11:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 12:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 13:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 14:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 15:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 16:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 17:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 18:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 19:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 20:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 21:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 22:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 23:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 24:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
                <div class="box-item">
                    <div class="item-as">
                        <h3>
                            Câu 25:
                        </h3>
                       <p class="title-as">I always use ……………… for my hair in the morning.</p>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                    <div class="item-qs">
                        <label for="">
                            <input type="radio" name="" id="">
                            Nail polish
                        </label>
                    </div>
                </div>
        
            </div>
            <div class="row">
                <div class="submit">
                    <button class="btn-submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
	</div>
	<script src="/static/lib/jquery/jquery.min.js"></script>
    <!-- <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/static/js/Login.js"></script>
</body>

</html>