
header {
	background-color: #2EB9FF;
	height: 50px;
	text-align: center;
}

.logo {
	width: 36px;
	height: 36px;
	margin-top: -8px;
	margin-right: 5px;
}

.toeic-community {
	font-family: 'Limelight', cursive;
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
	color: white;
}

.content {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}

.content .avatar {
	width: 150px;
	height: 150px;
	margin: 20px auto;
	position: relative;
	overflow: hidden;
}
.avatar img {
	height: 150px;
	width: auto;
	/* max-width: 150px; */
}
.avatar .change-avatar {
	background: black;
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    opacity: 0.7;
    color: white;
	text-align: center;
	display: none;
}
.avatar:hover .change-avatar {
	display: block;
	cursor: pointer;
}
.avatar input {
	display: none;

}
.heart {
	color: red;
	margin-left: 5px;
	margin-top: 5px;
}

.name-score {
	text-align: center;
}

.name-score .name {
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
}

.name-score .score {
	font-size: 18px;
}

.info-container .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.info-container .title::after {
	content: "";
	display: block;
	height: 4px;
	width: 100px;
	background-color: black;
	margin-top: 5px;
	margin-bottom: 25px;
}

.info-container {
	padding: 15px;
}

.info {
	border: 1px solid black;
	border-radius: 20px;
	background-color: white;
	padding: 10px 30px;
	width: 80%;
	margin: 15px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info span {
	margin: auto;
}
@media (min-width: 500px) {
	.info {
		flex-direction: row;
	}
	.info span {
		margin: 0;
	}
}
@media (min-width: 1200px) {
	.content {
		width: 60%;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.content {
		width: 50%;
	}
	.info {
		display: flex;
		flex-direction: column;
	}
	.info span {
		margin: auto;
	}
}

#follow {
	padding: 20px;
	text-align: center;
}